PORT=5200
TRAVELER_SERVICE_URL=http://localhost:5201
ITINERARY_SERVICE_URL=http://localhost:5202
NOTIFICATION_SERVICE_URL=http://localhost:5203
LOYALTY_SERVICE_URL=http://localhost:5204
RESERVATION_SERVICE_URL=http://localhost:5302
PAYMENT_SERVICE_URL=http://localhost:5303
FULFILLMENT_SERVICE_URL=http://localhost:5304

